@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;

    z-index: 100000;
}

header,
div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
}

/* muda o tamanho do box */
header.Active {
    padding: 35px 100px;
    background: #fff;

}

/*   mudar a position das letras    */
div.navbar.Active1 {
    padding: 15px 100px;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.Banner {
    position: relative;
    width: 100%;
    height: 80vh;
    /*
    background: url(/style/img/bg.jpg);
    */
    background: #2e2e2e;
    background-size: cover;
}

header.Active .logo,
header.Active ul li a {
    color: #000;

}


.about {
    position: relative;

    width: 100%;
    height: 20vh;
    background: #f2f2f2;
}

/* efeito no button  */

.button-eff:hover {
    color: white;
    background: rgb(34, 34, 34);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

/* grid */

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: none;
    height: 22px;
    width: 25px;
}

label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.3s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}



/* hamburge 1821 px 100vh */
@media only screen and (max-width: 1821) {
    #checkbox-menu, label span
    {
        display: none;
    }
    
}

/* hamburge 800 px 100vh */
@media only screen and (max-width: 800px) {
    .hamb {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
      }
      label {
          display: block;
      }
      
    header.Active  label span{
    background: #000;

}
    
}